<!--<form class='body'>
<mat-card-content class='container'>


  <mat-form-field class="input-field" >
    
      
    <input matInput placeholder="old_Password" type='password' id='old_password' 
    name='old_password' [(ngModel)]='old_password' required>
  </mat-form-field>
  <br>
  
  
    <mat-form-field class="input-field" >
    
      <input matInput placeholder="new_password" type='password'id='new_password
      ' name='new_password'[(ngModel)]="new_password" required>
     
    </mat-form-field>
</mat-card-content>
   <button type="submit" mat-stroked-button color="accent"  (click)='reset()' class="btn-block">reset</button>
<button type="submit" mat-stroked-button color="accent"  (click)='login()' class="btn-block">Test</button>
-->
<form class="login-form" action="javascript:void(0);">
  <h1>Reset Password</h1>
  <div class="form-input-material">
  <mat-form-field class="input-field" >
    <input matInput placeholder="OldPassword" type='password' id='old_password' 
    name='old_password' [(ngModel)]='old_password' required>
  </mat-form-field>
  </div>
  <div class="form-input-material">
    <mat-form-field class="input-field" >
    <input  matInput placeholder="NewPassword" type='password'id='new_password
      ' name='new_password'[(ngModel)]="new_password" required>
   </mat-form-field>
  </div>
  <button type="submit" class="btn btn-primary btn-ghost" (click)='reset()'>Reset</button>
</form>