<!--<div>
<button (click)='user()'>User</button>
<button (click)='admin()'>Admin</button>
</div>
<p-toast position="top-left" key="myKey1"></p-toast>
<button (click)='addSingle()'>toast</button>-->
<div class="line"></div>
<div class="navbar">
  <header role="banner">
    <nav role="navigation">
     
      <ul class="nav-ul">
        <li><a href="/home">Home</a></li>
        <li><a href="/adminpage">Login</a></li>
        <li><a href="/register">sinup</a></li>
        
      </ul>
    </nav>
  </header>
