body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #eceffc;
}


.form-input-material {
  --input-default-border-color: white;
  --input-border-bottom-color: white;
  
}
.form-input-material input {
  color:black;
}


.login-form {
  display: flex;
  margin-left: 36%;
  margin-right: 36%;
  margin-top: 10%;
  margin-bottom: 40%;
  flex-direction: column;
  align-items: center;
  padding: 50px 40px;
  color: white;
  background: wheat;
  border-radius: 10px;
  box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109), 0 1px 1px rgba(128, 128, 128, 0.155), 0 2.1px 2.1px rgba(128, 128, 128, 0.195), 0 4.4px 4.4px rgba(128, 128, 128, 0.241), 0 12px 12px rgba(128, 128, 128, 0.35);
}
.login-form h1 {
  margin: 0 0 24px 0;
}
.login-form .form-input-material {
  margin: 12px 0;
}
button{
  margin: 10%;
}
.input-field{
  margin-right: 20%;
  margin-left: 20% ;
}